<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Removing Duplicates**

Estimated time needed: **45 to 60** minutes

## Introduction

In this lab, you will focus on data wrangling, an important step in preparing data for analysis. Data wrangling involves cleaning and organizing data to make it suitable for analysis. One key task in this process is removing duplicate entries, which are repeated entries that can distort analysis and lead to inaccurate conclusions.

## Objectives

In this lab you will perform the following:

1. Identify duplicate rows  in the dataset.
2. Use suitable techniques to remove duplicate rows and verify the removal.
3. Summarize how to handle missing values appropriately.
4. Use ConvertedCompYearly to normalize compensation data.

### Install the Required Libraries

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\liyana_bh\appdata\local\programs\python\python311\lib\site-packages (2.3.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\liyana_bh\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\liyana_bh\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\liyana_bh\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\liyana_bh\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\liyana_bh\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

### Step 1: Import Required Libraries

In [2]:
import pandas as pd

### Step 2: Load the Dataset into a DataFrame

#### **Read Data**

If you are using JupyterLite, use the code below to download the dataset into your environment. If you are using a local environment, you can use the direct URL with <code>pd.read_csv()</code>.

In [3]:
#from pyodide.http import pyfetch

#async def download(url, filename):
    #response = await pyfetch(url)
    #if response.status == 200:
        #with open(filename, "wb") as f:
            #f.write(await response.bytes())

# Define the file path for the data
#file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"

# Download the dataset
#await download(file_path, "survey_data.csv")
#file_name = "survey_data.csv"

In [4]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/VYPrOu0Vs3I0hKLLjiPGrA/survey-data-with-duplicate.csv"
df = pd.read_csv(file_path)

In [5]:
# Display the first few rows
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

**Load the data into a pandas dataframe:**

In [6]:
df = pd.read_csv(file_path)

**Note: If you are working on a local Jupyter environment, you can use the URL directly in the <code>pandas.read_csv()</code>  function as shown below:**

##### df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv")

### Step 3: Identifying Duplicate Rows

**Task 1: Identify Duplicate Rows**
  1. Count the number of duplicate rows in the dataset.
  2. Display the first few duplicate rows to understand their structure.

In [7]:
# your code goes here
num_duplicates = df.duplicated().sum()
print("Number of duplicate rows:", num_duplicates)

Number of duplicate rows: 20

In [8]:
# Display the first few duplicate rows
duplicate_rows = df[df.duplicated()]
print("\nFirst few duplicate rows:")
print(duplicate_rows.head())

First few duplicate rows:
       ResponseId                      MainBranch                 Age  \
65437           1  I am a developer by profession  Under 18 years old
65438           2  I am a developer by profession     35-44 years old
65439           3  I am a developer by profession     45-54 years old
65440           4           I am learning to code     18-24 years old
65441           5  I am a developer by profession     18-24 years old

                Employment RemoteWork   Check  \
65437  Employed, full-time     Remote  Apples
65438  Employed, full-time     Remote  Apples
65439  Employed, full-time     Remote  Apples
65440   Student, full-time        NaN  Apples
65441   Student, full-time        NaN  Apples

                                        CodingActivities  \
65437                                              Hobby
65438  Hobby;Contribute to open-source projects;Other...
65439  Hobby;Contribute to open-source projects;Other...
65440                                                NaN
65441                                                NaN

                                                 EdLevel  \
65437                          Primary/elementary school
65438       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
65439    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
65440  Some college/university study without earning ...
65441  Secondary school (e.g. American high school, G...

                                               LearnCode  \
65437                             Books / Physical media
65438  Books / Physical media;Colleague;On the job tr...
65439  Books / Physical media;Colleague;On the job tr...
65440  Other online resources (e.g., videos, blogs, f...
65441  Other online resources (e.g., videos, blogs, f...

                                         LearnCodeOnline  ... JobSatPoints_6  \
65437                                                NaN  ...            NaN
65438  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
65439  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
65440  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
65441  Technical documentation;Blogs;Written Tutorial...  ...            NaN

      JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
65437            NaN            NaN            NaN             NaN
65438            0.0            0.0            0.0             0.0
65439            NaN            NaN            NaN             NaN
65440            NaN            NaN            NaN             NaN
65441            NaN            NaN            NaN             NaN

      JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly  \
65437             NaN                    NaN        NaN                 NaN
65438             0.0                    NaN        NaN                 NaN
65439             NaN  Appropriate in length       Easy                 NaN
65440             NaN               Too long       Easy                 NaN
65441             NaN              Too short       Easy                 NaN

      JobSat
65437    NaN
65438    NaN
65439    NaN
65440    NaN
65441    NaN

[5 rows x 114 columns]

### Step 4: Removing Duplicate Rows

**Task 2: Remove Duplicates**
   1. Remove duplicate rows from the dataset using the drop_duplicates() function.
2. Verify the removal by counting the number of duplicate rows after removal .

In [9]:
# your code goes here
# 1. Remove duplicate rows
df_cleaned = df.drop_duplicates()

In [10]:
# 2. Verify removal by counting duplicates again
num_duplicates_after = df_cleaned.duplicated().sum()

print("Number of duplicate rows after removal:", num_duplicates_after)

Number of duplicate rows after removal: 0

In [11]:
# (Optional) check shape before and after
print("Original dataset shape:", df.shape)
print("Cleaned dataset shape:", df_cleaned.shape)

Original dataset shape: (65457, 114)
Cleaned dataset shape: (65437, 114)

### Step 5: Handling Missing Values

**Task 3: Identify and Handle Missing Values**
   1. Identify missing values for all columns in the dataset.
   2. Choose a column with significant missing values (e.g., EdLevel) and impute with the most frequent value.

In [12]:
# your code goes here

# 1) Missing values for all columns (count and %)
na_count = df.isna().sum().sort_values(ascending=False)
na_pct   = (df.isna().mean() * 100).round(2)
missing_summary = pd.concat([na_count, na_pct], axis=1)
missing_summary.columns = ["missing_count", "missing_%"]
print(missing_summary)

                            missing_count  missing_%
AINextMuch less integrated          64309      98.25
AINextLess integrated               63102      96.40
AINextNo change                     52955      80.90
AINextMuch more integrated          52018      79.47
EmbeddedAdmired                     48718      74.43
...                                   ...        ...
MainBranch                              0       0.00
Check                                   0       0.00
Employment                              0       0.00
Age                                     0       0.00
ResponseId                              0       0.00

[114 rows x 2 columns]

In [13]:
# 2) Impute a column with many missings (e.g., 'EdLevel') with its most frequent value (mode)
col = "EdLevel" if "EdLevel" in df.columns else na_count.index[0]  # fallback to most-missing column
mode_val = df[col].mode(dropna=True)[0] if not df[col].mode(dropna=True).empty else None

print(f"\nImputing column: {col}")
print("Most frequent value (mode):", mode_val)

df[col] = df[col].fillna(mode_val)

Imputing column: EdLevel
Most frequent value (mode): Bachelor’s degree (B.A., B.S., B.Eng., etc.)

In [14]:
# Verify imputation
print("\nMissing after imputation:")
print(df[col].isna().sum())

Missing after imputation:
0

### Step 6: Normalizing Compensation Data

**Task 4: Normalize Compensation Data Using ConvertedCompYearly**
   1. Use the ConvertedCompYearly column for compensation analysis as the normalized annual compensation is already provided.
   2. Check for missing values in ConvertedCompYearly and handle them if necessary.

In [15]:
# your code goes here
# 1) Check the column exists
if "ConvertedCompYearly" in df.columns:
    # 2) Check missing values
    missing_comp = df["ConvertedCompYearly"].isna().sum()
    print("Missing values in ConvertedCompYearly:", missing_comp)
    
    # 3) Handle missing values (impute with median for compensation data)
    median_comp = df["ConvertedCompYearly"].median()
    df["ConvertedCompYearly"] = df["ConvertedCompYearly"].fillna(median_comp)
    
    print("\nAfter imputation:")
    print("Missing values in ConvertedCompYearly:", df["ConvertedCompYearly"].isna().sum())
    print("Median annual compensation used for imputation:", median_comp)
else:
    print("ConvertedCompYearly column not found in dataset.")

Missing values in ConvertedCompYearly: 42020

After imputation:
Missing values in ConvertedCompYearly: 0
Median annual compensation used for imputation: 65000.0

### Step 7: Summary and Next Steps

**In this lab, you focused on identifying and removing duplicate rows.**

- You handled missing values by imputing the most frequent value in a chosen column.

- You used ConvertedCompYearly for compensation normalization and handled missing values.

- For further analysis, consider exploring other columns or visualizing the cleaned dataset.

<!--
## Change Log

|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2024-11-05|1.2|Madhusudhan Moole|Updated lab|
|2024-09-24|1.1|Madhusudhan Moole|Updated lab|
|2024-09-23|1.0|Raghul Ramesh|Created lab|

--!>

## <h3 align="center"> © IBM Corporation. All rights reserved. <h3/>